.inner {
  width: 1300px;
  margin: 0 auto;
}

header {
  background: linear-gradient(90deg, #0093dd, #abd305);
  img {
    padding-top: 18px;
  }
  ul li {
    float: left;
    a {
      height: 80px;
      line-height: 80px;
      color: white;
      font-size: 18px;
      width: 76px;
    }
    a:hover{
      color: #0194db;
      transition: 0.2s;
    }
  }
  .search a {
    background: url('../images/01.png') no-repeat center center /contain;
  }
  .talk a {
    background: url('../images/02.png') no-repeat center center /contain;
  }
  .back_img a {
    background-size: 32px;
    width: 50px;
  }
}
.banner {
  //height: 650px;
  img{
    width: 100%;
    vertical-align: top;
  }
}

footer {
  .top_content{
    margin-left: 134px;
    padding: 80px 0;
    display: flex;
    dl {
      flex: 1;
      dt {
        height: 60px;
        line-height: 60px;
        font-weight: bold;
        color: #292422;
      }
      dd a {
        height: 40px;
        line-height: 40px;
        color: #a0a09f;
      }
    }
  }
  .bottom_content{
    height: 205px;
    background: #f5f5f5;
    .left_content {
      margin-left: 134px;
      color: #a6a5a5;
      font-size: 14px;
      div {
        line-height: 60px;
        height: 60px;
      }
      p{
        line-height:25px;
        height: 20px;
      }
    }
    .right_content{
      padding-top: 80px;
      a{
        float: left;
        padding-right:30px;
      }
    }
  }
}
