main .history {
  padding-top: 250px;
  padding-bottom: 200px;
  border-bottom: 1px solid #e0dedd;
}
main .history .left_content {
  width: 700px;
  float: left;
  padding-left: 75px;
}
main .history .left_content p {
  color: #848382;
  line-height: 40px;
  font-size: 14px;
  margin-bottom: 38px;
}
main .history .right_content .top {
  padding-top: 80px;
  color: #a6a5a5;
  font-size: 14px;
}
main .history .right_content .top p {
  line-height: 30px;
  height: 30px;
}
main .history .right_content .top .middle {
  padding: 45px 0;
}
main .aptitude {
  padding-bottom: 150px;
  border-bottom: 1px solid #e0dedd;
  text-align: center;
  margin-top: 30px;
}
main .aptitude h4 {
  text-align: center;
  color: #1f1a17;
  line-height: 120px;
  height: 120px;
  padding-bottom: 60px;
}
main .aptitude ul {
  display: flex;
  justify-content: space-around;
  padding: 0 60px;
}
main .aptitude ul li {
  flex: 1;
}
main .blank {
  height: 160px;
}
main .chronicle {
  position: relative;
  min-height: 640px;
}
main .chronicle .title {
  position: absolute;
  left: 0;
  top: 0;
  width: 640px;
}
main .chronicle .title h4 {
  text-align: center;
  line-height: 50px;
  font-size: 26px;
}
main .chronicle .title div {
  color: #dededd;
  font-size: 60px;
  line-height: 60px;
}
main .chronicle .dashed {
  height: 140px;
  width: 585px;
  border-right: 2px dashed #1f1a17;
}
main .chronicle .content .item {
  height: 300px;
  width: 580px;
  border-right: 12px solid #1f1a17;
  position: relative;
}
main .chronicle .content .item .timing {
  position: absolute;
  right: -22px;
  top: -14px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid #1f1a17;
  box-sizing: border-box;
  background: white;
  z-index: 999;
}
main .chronicle .content .item .timing:before {
  position: absolute;
  top: 4px;
  left: 4px;
  content: '';
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  background: #1f1a17;
  border-radius: 50%;
}
main .chronicle .content .item .item_content {
  top: -22px;
  position: absolute;
}
main .chronicle .content .item .item_content .time {
  position: relative;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  color: #1f1a17;
  font-size: 30px;
}
main .chronicle .content .item .item_content h6 {
  font-size: 30px;
  line-height: 55px;
  font-weight: normal;
}
main .chronicle .content .item .item_content .info {
  line-height: 20px;
  font-size: 12px;
  color: white;
  background: #1f1a17;
  display: inline-block;
  border-radius: 8px;
  padding: 0 5px;
}
main .chronicle .content .item .item_content .des {
  padding: 30px 0;
}
main .chronicle .content .item .item_content .des p {
  font-size: 14px;
  line-height: 18px;
  color: #9a9a99;
}
main .chronicle .content .right_item .item_content {
  left: 100%;
  padding-left: 135px;
}
main .chronicle .content .right_item .item_content .time:before {
  content: '';
  position: absolute;
  left: -115px;
  top: 50%;
  width: 100px;
  height: 2px;
  background: #1f1a17;
}
main .chronicle .content .right_item .item_content .time:after {
  content: '';
  position: absolute;
  left: -16px;
  top: 44%;
  width: 8px;
  height: 8px;
  background: #1f1a17;
  border-radius: 50%;
}
main .chronicle .content .left_item .item_content {
  text-align: right;
}
main .chronicle .content .left_item .item_content .time:before {
  content: '';
  position: absolute;
  right: -115px;
  top: 50%;
  width: 100px;
  height: 2px;
  background: #1f1a17;
}
main .chronicle .content .left_item .item_content .time:after {
  content: '';
  position: absolute;
  right: -16px;
  top: 44%;
  width: 8px;
  height: 8px;
  background: #1f1a17;
  border-radius: 50%;
}
/*# sourceMappingURL=humanity.css.map */