main {
  .history {
    padding-top: 250px;
    padding-bottom: 200px;
    border-bottom: 1px solid #e0dedd;
    .left_content {
      width: 700px;
      float: left;
      padding-left: 75px;
      p {
        color: #848382;
        line-height: 40px;
        font-size: 14px;
        margin-bottom: 38px;
      }
    }
    .right_content {
      .top {
        padding-top: 80px;
        color: #a6a5a5;
        font-size: 14px;
        p {
          line-height: 30px;
          height: 30px;
        }
        .middle {
          padding: 45px 0;
        }
      }
    }
  }
  .aptitude {
    padding-bottom: 150px;
    border-bottom: 1px solid #e0dedd;
    h4{
      text-align: center;
      color: #1f1a17;
      line-height:120px;
      height: 120px;
      padding-bottom: 60px;
    }
    ul {
      display: flex;
      justify-content: space-around;
      padding: 0 60px;
      li {
        flex: 1;
      }
    }

  }
}