main {
  ul li {
    float: left;
    width: 50%;
    &:hover{
      .pic{
        transition: 0.3s;
        background: url("../images/34-1.png") no-repeat center / cover !important;
      }
    }
    a {
      position: relative;
      > img {
        width: 100%;
      }
      .content {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        padding-top: 12%;
        width: 100%;
        h4 {
          color: #000;
          line-height: 100px;
        }
        p {
          padding: 0 32%;
          font-size: 14px;
          line-height: 20px;
          color: #000;
        }
        .pic {
          margin-top: 5%;
          display: inline-block;
          width: 27px;
          height: 27px;
          background: url("../images/34.png") no-repeat center / cover;
        }
      }
    }
  }

}