* {
    margin: 0;
    padding: 0;
}

img {
    /*width: 100%;*/
    vertical-align: top;
}

input {
    border: none;
    outline: none;
}

ul, dl {
    list-style: none
}

.clearfix:after {
    content: "200B";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
}

/*html {*/
    /*width: 100%;*/
    /*font-size: 100px;*/
/*}*/

a {
    text-decoration: none;
    display: block;
}

.floatL {
    float: left;
}

.floatR {
    float: right;
}

a {
    text-decoration: none;
    display: block;
}

body {
    font-family: "微软雅黑";
    font-size: 20px;
}